[Env]
# Set environment variables
# In particular, MSYSTEM, MSYS, MSYS2_PATH_TYPE, CHERE_INVOKING
# affect the behavior of MSYS2
MSYSTEM=MINGW64
MSYS=winsymlinks:nativestrict
# MSYS2_PATH_TYPE=inherit
CHERE_INVOKING=1

[Config]
# Set mintty.exe path (default: <mint-dir>\usr\bin\mintty.exe)
# Mintty=C:\msys64\usr\bin\mintty.exe
# Set icon path (default: <mint-dir>\msys2.ico>)
# Icon=C:\msys64\msys2.ico
